<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="POS_SystemConnectionString2" connectionString="Data Source=possystem.database.windows.net;Initial Catalog=POS_System;Persist Security Info=True;User ID=Asimk786;Password=Asim231725786!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
